{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "registration_new_students" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <!-- <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST"> -->
        <form name="registration_new_students" netlify-honeypot="bot-field" action="/form/success" method="POST" data-netlify-recaptcha="true" data-netlify="true">

          <h3 class="mt-5 mb-3">Data Pribadi</h3>

          <div class="form-group row">
            <label class="col-sm-12 col-form-label">Tahun Ajaran :</label>
            <div class="col-sm-12 input-group">
              <select class="custom-select" name="tahun-ajaran[]" required="true">
                <option selected value="2024/2025">2024/2025</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nama-lengkap">Nama Lengkap :</label>
              <input type="text" class="form-control" name="nama-lengkap" placeholder="Contoh: Yusuf Bakhtiar" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nama-panggilan">Nama Panggilan :</label>
              <input type="text" class="form-control" name="nama-panggilan" placeholder="Contoh: Yusuf" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="tempat-tanggal-lahir">Tempat dan Tanggal Lahir :</label>
              <input type="text" class="form-control" name="tempat-tanggal-lahir" placeholder="Contoh: Mojokerto, 1 Januari 2001" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Kelamin :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-kelamin[]" required="true">
                <option selected value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Golongan Darah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-kelamin[]" required="true">
                <option selected value="A">A</option>
                <option value="B">B</option>
                <option value="O">O</option>
                <option value="AB">AB</option>
                <option value="Tidak tahu">Tidak tahu</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Agama :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="agama[]" required="true">
                <option selected value="Islam">Islam</option>
                <option value="Kristen">Kristen</option>
                <option value="Katholik">Katholik</option>
                <option value="Hindu">Hindu</option>
                <option value="Budha">Budha</option>
                <option value="Kong Hu Cu">Kong Hu Cu</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="alamat-asal">Alamat Asal :</label>
              <input type="text" class="form-control" name="alamat-asal" value="" required="true">
            </div>
            <div class="form-group col-md-4">
              <label for="kode-pos">Kode Pos :</label>
              <input type="text" class="form-control" name="kode-pos" value="61385" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-sekarang">Alamat Sekarang :</label>
              <input type="text" class="form-control" name="alamat-sekarang" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="telp">Nomer Telefon :</label>
              <input type="number" class="form-control" name="telp" placeholder="Contoh: 6281234567890" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="jumlah-saudara">Jumlah Saudara Kandung/Tiri :</label>
              <input type="text" class="form-control" name="jumlah-saudara" placeholder="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="bahasa-sehari-hari">Bahasa Sehari-hari :</label>
              <input type="text" class="form-control" name="bahasa-sehari-hari" placeholder="Contoh: Indonesia, Jawa" required="true">
            </div>
          </div>

          <h3 class="mt-5 mb-3">Data Pendidikan</h3>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="sekolah-asal">Sekolah Asal :</label>
              <input type="text" class="form-control" name="sekolah-asal" placeholder="Contoh: SD Muhammadiyah Ngoro" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="ijazah-terakhir">Ijazah Terakhir :</label>
              <input type="text" class="form-control" name="ijazah-terakhir" placeholder="SD/MI" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="tanggal-no-skl">Tanggal/No SKL :</label>
              <input type="text" class="form-control" name="tanggal-no-skl" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-sekolah">Alamat Sekolah :</label>
              <input type="text" class="form-control" name="alamat-sekolah" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nilai-rata-rata-skun">Nilai Rata-rata SKUN :</label>
              <input type="text" class="form-control" name="nilai-rata-rata-skun" value="" required="true">
            </div>
          </div>

          <h3 class="mt-5 mb-3">Data Orang Tua</h3>

          <h4 class="mt-5 mb-3">Ayah</h4>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nama-ayah">Nama Ayah :</label>
              <input type="text" class="form-control" name="nama-ayah" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-ayah">Alamat Ayah :</label>
              <input type="text" class="form-control" name="alamat-ayah" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="telp-ayah">Nomer Telefon Ayah :</label>
              <input type="number" class="form-control" name="telp-ayah" placeholder="Contoh: 6281234567890" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pekerjaan Ayah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pekerjaan-ayah[]" required="true">
                <option selected value="Pegawai/Karyawan">Pegawai/Karyawan</option>
                <option value="Advokat">Advokat</option>
                <option value="Akuntan">Akuntan</option>
                <option value="Apoteker">Apoteker</option>
                <option value="Arsitek">Arsitek</option>
                <option value="Dokter">Dokter</option>
                <option value="Dosen">Dosen</option>
                <option value="Guru">Guru</option>
                <option value="Insinyur">Insinyur</option>
                <option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</option>
                <option value="Nelayan">Nelayan</option>
                <option value="Paramedis">Paramedis</option>
                <option value="Pedagang">Pedagang</option>
                <option value="Pengrajin">Pengrajin</option>
                <option value="Pengusaha">Pengusaha</option>
                <option value="Pensiunan">Pensiunan</option>
                <option value="Petani">Petani</option>
                <option value="Relawan">Relawan</option>
                <option value="Wiraswasta">Wiraswasta</option>
                <option value="Tidak Bekerja">Tidak Bekerja</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pendidikan Ayah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pendidikan-terakhir-ayah[]" required="true">
                <option selected value="SD">SD</option>
                <option value="SMP">SMP</option>
                <option value="SMA/SMK">SMA/SMK</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Keadaan Ayah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="keadaan-ayah[]" required="true">
                <option selected value="Masih Hidup">Masih Hidup</option>
                <option value="Meninggal">Meninggal</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status Ayah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="status-ayah[]" required="true">
                <option selected value="Sudah Menikah">Sudah Menikah</option>
                <option value="Cerai">Cerai</option>
              </select>
            </div>
          </div>

          <h4 class="mt-5 mb-3">Ibu</h4>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nama-ibu">Nama Ibu :</label>
              <input type="text" class="form-control" name="nama-ibu" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-ibu">Alamat Ibu :</label>
              <input type="text" class="form-control" name="alamat-ibu" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="telp-ibu">Nomer Telefon Ibu :</label>
              <input type="number" class="form-control" name="telp-ibu" placeholder="Contoh: 6281234567890" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pekerjaan Ibu :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pekerjaan-ibu[]" required="true">
                <option selected value="Pegawai/Karyawan">Pegawai/Karyawan</option>
                <option value="Advokat">Advokat</option>
                <option value="Akuntan">Akuntan</option>
                <option value="Apoteker">Apoteker</option>
                <option value="Arsitek">Arsitek</option>
                <option value="Dokter">Dokter</option>
                <option value="Dosen">Dosen</option>
                <option value="Guru">Guru</option>
                <option value="Insinyur">Insinyur</option>
                <option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</option>
                <option value="Nelayan">Nelayan</option>
                <option value="Paramedis">Paramedis</option>
                <option value="Pedagang">Pedagang</option>
                <option value="Pengrajin">Pengrajin</option>
                <option value="Pengusaha">Pengusaha</option>
                <option value="Pensiunan">Pensiunan</option>
                <option value="Petani">Petani</option>
                <option value="Relawan">Relawan</option>
                <option value="Wiraswasta">Wiraswasta</option>
                <option value="Tidak Bekerja">Tidak Bekerja</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pendidikan Ibu :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pendidikan-terakhir-ibu[]" required="true">
                <option selected value="SD">SD</option>
                <option value="SMP">SMP</option>
                <option value="SMA/SMK">SMA/SMK</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Keadaan Ibu :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="keadaan-ibu[]" required="true">
                <option selected value="Masih Hidup">Masih Hidup</option>
                <option value="Meninggal">Meninggal</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status Ibu :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="status-ibu[]" required="true">
                <option selected value="Sudah Menikah">Sudah Menikah</option>
                <option value="Cerai">Cerai</option>
              </select>
            </div>
          </div>

          <h4 class="mt-5 mb-3">Wali Siswa</h4>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="nama-wali">Nama Wali :</label>
              <input type="text" class="form-control" name="nama-wali" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-wali">Alamat Wali :</label>
              <input type="text" class="form-control" name="alamat-wali" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="telp-wali">Nomer Telefon Wali :</label>
              <input type="number" class="form-control" name="telp-wali" placeholder="Contoh: 6281234567890" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pekerjaan Wali :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pekerjaan-wali[]" required="true">
                <option selected value="Pegawai/Karyawan">Pegawai/Karyawan</option>
                <option value="Advokat">Advokat</option>
                <option value="Akuntan">Akuntan</option>
                <option value="Apoteker">Apoteker</option>
                <option value="Arsitek">Arsitek</option>
                <option value="Dokter">Dokter</option>
                <option value="Dosen">Dosen</option>
                <option value="Guru">Guru</option>
                <option value="Insinyur">Insinyur</option>
                <option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</option>
                <option value="Nelayan">Nelayan</option>
                <option value="Paramedis">Paramedis</option>
                <option value="Pedagang">Pedagang</option>
                <option value="Pengrajin">Pengrajin</option>
                <option value="Pengusaha">Pengusaha</option>
                <option value="Pensiunan">Pensiunan</option>
                <option value="Petani">Petani</option>
                <option value="Relawan">Relawan</option>
                <option value="Wiraswasta">Wiraswasta</option>
                <option value="Tidak Bekerja">Tidak Bekerja</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pendidikan Wali :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pendidikan-terakhir-wali[]" required="true">
                <option selected value="SD">SD</option>
                <option value="SMP">SMP</option>
                <option value="SMA/SMK">SMA/SMK</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Keadaan Wali :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="keadaan-wali[]" required="true">
                <option selected value="Masih Hidup">Masih Hidup</option>
                <option value="Meninggal">Meninggal</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status Wali :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="status-wali[]" required="true">
                <option selected value="Sudah Menikah">Sudah Menikah</option>
                <option value="Cerai">Cerai</option>
              </select>
            </div>
          </div>

          <h3 class="mt-5 mb-3">Program Kelas yang Dipilih</h3>

          <div class="form-group row">
            <div class="col-sm-12 input-group">
              <div class="mb-3 col-sm form-check">
                <input type="radio" class="form-check-input" id="kelas-tahfidz" name="pilih-kelas" value="X">
                <label class="form-check-label" for="kelas-tahfidz">
                  Kelas Tahfidz
                </label>
              </div>
              <div class="mb-3 col-sm form-check">
                <input type="radio" class="form-check-input" id="kelas-reguler" name="pilih-kelas" value="X">
                <label class="form-check-label" for="kelas-reguler">
                  Kelas Reguler
                </label>
              </div>
            </div>
          </div>

          <h3 class="mt-5 mb-3">Kelengkapan Dokumen</h3>

          <p>Pastikan per dokumen anda tidak melebihi 1 MB agar resource kami tidak terjadi galat.</p>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan Ijazah Legalisir (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-ijazah" lang="in" required="true">
                <label class="custom-file-label" for="scan-ijazah">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan SKL Legalisir (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-skl" lang="in" required="true">
                <label class="custom-file-label" for="scan-skl">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan NISN (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-nisn" lang="in" required="true">
                <label class="custom-file-label" for="scan-nisn">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan Akta Kelahiran (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-akta" lang="in" required="true">
                <label class="custom-file-label" for="scan-akta">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan Kartu Keluarga (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-kk" lang="in" required="true">
                <label class="custom-file-label" for="scan-kk">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan KTP Orang Tua / Wali (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-ktp-ortu-wali" lang="in" required="true">
                <label class="custom-file-label" for="scan-ktp-ortu-wali">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Scan KIP / PIP / PKH bagi yang punya (PDF) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="scan-kip-pip-pkh" lang="in">
                <label class="custom-file-label" for="scan-kip-pip-pkh">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Foto 3x4 (PNG) :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="foto-3x4" lang="in">
                <label class="custom-file-label" for="foto-3x4">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <h3 class="mt-5 mb-3">Biaya Administrasi</h3>

          <p>Pendaftaran PPDB sebesar <b>Rp 50.000,00</b> dapat dilakukan secara transfer melalui rekening <b>BSI XXXXXXXXX</b>. A.n. <b>SMP Muhammadiyah 5 Ngoro</b>.</p>

          <div class="form-group row">
            <label class="col-sm-7 col-form-label">Foto/Bukti Pembayaran :</label>
            <div class="col-sm-5 input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="bayar-pendaftaran" lang="in" required="true">
                <label class="custom-file-label" for="bayar-pendaftaran">Pilih Berkas</label>
              </div>
            </div>
          </div>

          <div class="mb-5">
            <div data-netlify-recaptcha="true"></div>
          </div>

          <button type="submit" value="send" class="mt-5 mb-3 btn btn-primary">{{ i18n "send_form" }}</button>
        </form>

      </div>

      <div class="col-lg-5 content">
        {{ .Content }}
        <a href="tel:{{ site.Params.mobile }}" class="text-color h5 d-block">{{ site.Params.mobile }}</a>
        <a href="mailto:{{ site.Params.email }}" class="mb-5 text-color h5 d-block">{{ site.Params.email }}</a>
        <p>{{ site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
  <!-- Google Map -->
  <div id="map_canvas"
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}"
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section>
<!-- /gmap -->

{{ end }}
