// Color Variables
$primary-color: #00b8f1;
$secondary-color: #007ba8;
$text-color: #007ba8;
$text-color-light: #00b8f1;
$text-color-dark: #007ba8;
$text-lighten: #c3c3cc;
$text-muted: #a5a5a6;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'nunito';
$icon-font: 'themify';
