{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "registration_alumni" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <!-- <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST"> -->
        <form name="registration-alumni" netlify-honeypot="bot-field" action="/form/success" method="POST" data-netlify-recaptcha="false" data-netlify="true">

          <h3 class="mt-5 mb-3">Data Pribadi</h3>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="tahun-alumni">Tahun Kelulusan Alumni :</label>
              <input type="number" class="form-control" name="tahun-alumni" placeholder="Contoh: 2010" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="gelar-dpn">Gelar Depan :</label>
              <input type="text" class="form-control" name="gelar-dpn" placeholder="">
            </div>
            <div class="form-group col-md-6">
              <label for="name">Nama Lengkap :</label>
              <input type="text" class="form-control" name="name" placeholder="" required="true">
            </div>
            <div class="form-group col-md-3">
              <label for="gelar-blk">Gelar Belakang :</label>
              <input type="text" class="form-control" name="gelar-blk" placeholder="">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="tempat-tanggal-lahir">Tempat dan Tanggal Lahir :</label>
              <input type="text" class="form-control" name="tempat-tanggal-lahir" placeholder="Contoh: Mojokerto, 1 Januari 2001" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Jenis Kelamin :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-kelamin[]" required="true">
                <option selected value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Golongan Darah :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="jenis-kelamin[]" required="true">
                <option selected value="A">A</option>
                <option value="B">B</option>
                <option value="O">O</option>
                <option value="AB">AB</option>
                <option value="Tidak tahu">Tidak tahu</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Agama :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="agama[]" required="true">
                <option selected value="Islam">Islam</option>
                <option value="Kristen">Kristen</option>
                <option value="Katholik">Katholik</option>
                <option value="Hindu">Hindu</option>
                <option value="Budha">Budha</option>
                <option value="Kong Hu Cu">Kong Hu Cu</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pendidikan Terakhir :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pendidikan-terakhir[]" required="true">
                <option selected value="SMP">SMP</option>
                <option value="SMA/SMK">SMA/SMK</option>
                <option value="D1">D1</option>
                <option value="D2">D2</option>
                <option value="D3">D3</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pekerjaan :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="pekerjaan[]" required="true">
                <option selected value="Pelajar/Mahasiswa">Pelajar/Mahasiswa</option>
                <option value="Pegawai/Karyawan">Pegawai/Karyawan</option>
                <option value="Advokat">Advokat</option>
                <option value="Akuntan">Akuntan</option>
                <option value="Apoteker">Apoteker</option>
                <option value="Arsitek">Arsitek</option>
                <option value="Dokter">Dokter</option>
                <option value="Dosen">Dosen</option>
                <option value="Guru">Guru</option>
                <option value="Insinyur">Insinyur</option>
                <option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</option>
                <option value="Nelayan">Nelayan</option>
                <option value="Paramedis">Paramedis</option>
                <option value="Pedagang">Pedagang</option>
                <option value="Pengrajin">Pengrajin</option>
                <option value="Pengusaha">Pengusaha</option>
                <option value="Pensiunan">Pensiunan</option>
                <option value="Petani">Petani</option>
                <option value="Relawan">Relawan</option>
                <option value="Wiraswasta">Wiraswasta</option>
                <option value="Tidak Bekerja">Tidak Bekerja</option>
                <option value="Lainnya">Lainnya</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="instansi">Instansi / Sekolah / Universitas / Tempat kerja</label>
              <input type="text" class="form-control" name="instansi" value="" required="true">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Kerja di AUM :</label>
            <div class="col-sm-8 input-group">
              <select class="custom-select" name="amal-usaha-md[]" required="true">
                <option selected value="Tidak">Tidak</option>
                <option value="Ya">Ya</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="alamat-asal">Alamat Asal :</label>
              <input type="text" class="form-control" name="alamat-asal" value="" required="true">
            </div>
            <div class="form-group col-md-4">
              <label for="kode-pos">Kode Pos :</label>
              <input type="text" class="form-control" name="kode-pos" value="61385" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="alamat-sekarang">Alamat Sekarang :</label>
              <input type="text" class="form-control" name="alamat-sekarang" value="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="telp">Nomer Telefon :</label>
              <input type="number" class="form-control" name="telp" placeholder="Contoh: 6281234567890" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="jumlah-saudara">Jumlah Saudara Kandung/Tiri :</label>
              <input type="text" class="form-control" name="jumlah-saudara" placeholder="" required="true">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="bahasa-sehari-hari">Bahasa Sehari-hari :</label>
              <input type="text" class="form-control" name="bahasa-sehari-hari" placeholder="Contoh: Indonesia, Jawa" required="true">
            </div>
          </div>

          <button type="submit" value="send" class="mt-5 mb-3 btn btn-primary">{{ i18n "send_form" }}</button>
        </form>

      </div>

      <div class="col-lg-5 content">
        {{ .Content }}
        <a href="tel:{{ site.Params.mobile }}" class="text-color h5 d-block">{{ site.Params.mobile }}</a>
        <a href="mailto:{{ site.Params.email }}" class="mb-5 text-color h5 d-block">{{ site.Params.email }}</a>
        <p>{{ site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
  <!-- Google Map -->
  <div id="map_canvas"
  data-latitude="{{ site.Params.map.map_latitude }}"
  data-longitude="{{ site.Params.map.map_longitude }}"
  data-marker="{{ site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ site.Title }}"></div>
</section>
<!-- /gmap -->

{{ end }}
