<div id='livechat'>
    <div id='whatsapp-chat' class='hide'>
        <div class='header-chat'>
            <div class='head-home'>
                <h3>{{ i18n `livechat-title` }}</h3>
                <p>{{ i18n `livechat-subtitle` }}</p>
            </div>
            <div class='get-new hide'>
                <div id='get-label'></div>
                <div id='get-nama'></div>
            </div>
        </div>
        <div class='home-chat'>
            <!-- Info Contact Start -->
            <a class='informasi-static' href='https://wa.me/6285176935108/?text=Assalamu%27alaikum+Wr.+Wb.%0D%0A%0D%0ANama%3A%0D%0AKeperluan%3A' target="_blank" title='{{ i18n `livechat-chat1` }}'>
                <div class='info-avatar'><img src='/images/livechat/whatsapp.webp' /></div>
                <div class='info-chat'>
                    <span class='chat-label'>{{ i18n `livechat-label` }}</span>
                    <span class='chat-nama'>WhatsApp</span>
                </div><span class='my-number'>6285176935108</span>
            </a>
            <!-- Info Contact End -->
            <!-- Info Contact Start -->
            <a class='informasi-static' href='https://instagram.com/smpmuhima' target="_blank" title='{{ i18n `livechat-chat1` }}'>
                <div class='info-avatar'><img src='/images/livechat/instagram.webp' /></div>
                <div class='info-chat'>
                    <span class='chat-label'>Ikuti kami!</span>
                    <span class='chat-nama'>Instagram</span>
                </div><span class='my-number'>@smpmuhima</span>
            </a>
            <!-- Info Contact End -->
            <div class='livechat-msg'>{{ i18n `livechat-msg` }}</div>
        </div>
        <div id='get-number'></div><a class='close-chat' href='javascript:void'>×</a>
    </div>
    <a class='show-chat' href='javascript:void' title='Show Chat'><i class="ti-headphone"></i></i>{{ i18n `livechat-show-chat` }}</a>
</div>
